* {
    margin: 0;
    padding:0;
    text-decoration: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    min-height: 3000px;
}

/* utiliti */
.tombol {
    background-color: #796BAE;
    color: #fff;
    border-radius: 4px;
    padding: 8px 18px;
    display: inline-block;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}


header {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
}
header nav .logo {
    width: 140px;
    
}

header nav ul a.active {
    color: #997FFB;
}
header nav ul a {
    color: #000;
    margin: auto 16px;
    font-weight: 400;
}
header nav ul a.tombol {
    margin-right: 0;
    padding: 10px 25px;
}
header .jumbotron {
    display: flex;
    justify-content: space-between;
    margin: auto 10%;
    align-items: center;
}

header .jumbotron .deskripsi h1 {
    font-family: Poppins;
    margin-bottom: 24px;
}
header .jumbotron .deskripsi p {
    margin-bottom: 24px;
}
header .jumbotron .deskripsi a.tombol {
    padding: 12px 36px;
}

header .jumbotron .jumbotron-img {
    width: 300px;
}

main {
    margin: auto 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

main .main-novel {
    text-align: center;
    margin-bottom: 160px;
}

main .main-novel h1 {
    font-family: Poppins;
    margin-bottom: 40px;
}

main .main-novel .novel-img {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
main .main-novel .novel-img img {
    width: 80px;
    display: flex;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
}

main .main-novel a.tombol {
    padding: 12px 45px;
    border-radius: 30px;

}

main .main-character {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.main-character .title {
    margin-bottom: 40px;
    font-family: Poppins;
}

main .main-character .character-description {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
main .main-character .character-description .character-img {
    width: 25%;
    margin: 50px;
}   
main .main-character .character-description .character-text {
    width: 30%;
    margin: 50px;
}   
main .main-character .character-description .character-text h1 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}   
main .main-character .character-description hr {
    width: 20%;
    margin-top: 15px;
    height: 5px;
    background-color: #796BAE;
}   

footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    font-family: Roboto;
}

footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #796BAE;
    padding: 20px 100px;
    width: 50%;
    border-radius: 5px;
}

footer .contact h1 {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 500;
}

footer .contact p {
    font-size: .85rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.503);

}

footer .contact .input-group {
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
}

footer .contact .input-group .contact-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: .75rem;
    padding-left: 20px;
    width: 100%;
    font-family: Roboto;

}
footer .contact .input-group .contact-button {
    background-color: #796BAE;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-family: Roboto;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
}

@media (max-width: 850px) {
    header nav {
        height: 80px;
    }
    header nav ul li a {
        display: none;
    }
    header nav .logo {
        width: 80px;
    }
    header nav ul li a.tombol {
        display: block;
        padding: 8px 15px;
        font-size: .8rem;
    }
    header .jumbotron {
        margin: auto 5%;
        display: block;
    }

    header .jumbotron .deskripsi {
        text-align: center;
    }
    header .jumbotron .deskripsi h1 {
        font-size: 1.6rem;
    }
    header .jumbotron .deskripsi p {
        font-size: .9rem;
    }
    header .jumbotron .deskripsi a.tombol {
    padding: 12px 36px;
    }
    header .jumbotron .jumbotron-img {
        display: none;
    }
    
    main .main-novel {
        text-align: center;
        margin-bottom: 160px;
    }
    
    main .main-novel h1 {
        font-size: 1.6rem;
    }
    
    main .main-novel .novel-img img {
        flex: 1 1 calc(100% - 20px);
    }
    
    main .main-character {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    main .main-character .character-description {
        display: flex;
        margin-bottom: 40px;
        align-items: center;
        flex-direction: column;
    }
    main .main-character .character-description.genap  .character-text{
        order: 2;
    }
    main .main-character .character-description.genap  .character-img{
        order: 1;
    }
    main .main-character .character-description .character-img {
        width: 50%;
        margin: 0 auto;
    }   
    main .main-character .character-description .character-text {
        width: 100%;
        text-align: center;
        margin: 20px auto;
    }   
    main .main-character .character-description .character-text h1 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }   
    main .main-character .character-description .character-text p {
        font-size: .9rem;
        margin-bottom: 0;
    }   
    main .main-character .character-description hr {
        width: 50%;
        margin: 15px auto;
    }   
    footer .contact {
        width: 90%;
        margin: 10px auto;
        padding: 20px 30px;
        text-align: center;
    }
    
    footer .contact h1 {
        color: #fff;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    
    footer .contact p {
        font-size: .75rem;
        font-weight: 400;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.503);
    
    }
    
    footer .contact .input-group {
        padding: 5px 5px 5px 5px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
        width: 100%;
    }
    
    footer .contact .input-group .contact-input {
        font-size: .75rem;
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.318);

    }
    footer .contact .input-group .contact-button {
        padding: 8px 16px;
        margin: 20px auto 15px auto;
        width: 50%;
    }
}